* {
  margin: 0;
}
.group {
  display: flex;
}

.imagenes {
  background-color: lightgray;
  display: flex;
  align-items: center;
  width: 50%;
  justify-content: center;
}
.info {
  padding: 10%;
  background-color: grey;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 50%;
}
img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}
.texto {
  width: 100%;
}
h1 {
  font-size: 40px;
}
p {
  margin: 5px;
}
.tabla {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.celda {
  width: 100px;
}
@media screen and (max-width: 500px) {
  .group {
    flex-direction: column;
  }
  .tabla {
    flex-direction: column;
  }
  .info {
    width: 50%;
  }

  .imagenes {
    width: 50%;
  }
}
