* {
  margin: 0;
}
.group {
  display: flex;
}
.imagenes {
  flex-grow: 1;
}
.info {
  flex-grow: 1;
}
.imagenes {
  background-color: lightgray;
  display: flex;
  flex-direction: row;
}
.info {
  background-color: grey;
  display: flex;
  flex-direction: row;
  align-content: space-around;
  flex-wrap: wrap;
}
img {
  width: 200px;
  border-radius: 50%;
}
.texto {
  width: 100%;
}

