* {
  margin: 0;
}
.group {
  display: flex;
}
.imagenes {
}
.info {
}
.imagenes {
  background-color: lightgray;
  display: flex;
  align-content: center;
}
.info {
  padding: 10%;
  background-color: grey;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
img {
  padding: 10%;
  width: 200px;
  height: 200px;
  border-radius: 50%;
}
.texto {
  width: 100%;
}
h1 {
  font-size: 40px;
}
p {
  margin: 5px;
}
.tabla {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.celda {
  width: 150px;
}
